body {
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 20px;
}

a {
    color: azure;
}

.dark-mode {
    background-color: rgb(56, 54, 54);
    color: azure;
}

.toggle {
    margin: 10px;
    padding-top: 5px;
    padding-right: 5px;
}